<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="fragments/layout :: layout(~{::title}, ~{::section1}, ~{::optional})" xmlns="">

<title>SERVICE USERVICE</title>

<section1>
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content ">
            <th:block th:insert="fragments/right-sidebar"></th:block>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Container List</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Container</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Container List</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div id="toolbar">
                        <!--                        <button type="button" class="btn btn-facebook btn-sm" data-toggle="modal"-->
                        <!--                                aria-label="New Directory" data-target="#delete-modal"-->
                        <!--                                title="삭제" id="btn-delete">-->
                        <!--                            <span class="fas fa-code-branch"></span>IMAGE DISTRIBUTE-->
                        <!--                        </button>-->
                    </div>
                    <table class=table-dark id="container-status-table"
                           data-toolbar="#toolbar"
                           data-pagination="true"
                           data-header-style="headerStyle"
                           data-page-size="25"
                           data-row-style="rowStyle"
                           data-auto-refresh="true"
                           data-auto-refresh-interval="10"
                           data-auto-refresh-status="true"
                    >
                        <thead>
                        <tr>
                            <th data-field="hostName"></th>
                            <th data-field="containerName"></th>
                            <th data-field="creator"></th>
                            <th data-field="cpu" data-formatter="cpuFormatter"></th>
                            <th data-field="mem" data-formatter="fmt_bytes"></th>
                            <th data-field="gpu"></th>
                            <th data-field="createdAt" data-formatter="dateFormatter"></th>
                            <th data-field="status"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div th:replace="fragments/footer :: footer"/>
        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>

    <div class="modal fade" id="container-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="container-modal-title">Stop the Container</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div id="container-prompt">
                            <span>Are you sure</span>&nbsp<span id="modal-containerName" style="color:#117a8b"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" id="container-button-confirm"></button>
                </div>
            </div>
        </div>
    </div>

</section1>
<optional>
    <script type="text/javascript" src="assets/vendor/jquery/jquery-3.3.1.min.js"
            th:src="@{/assets/vendor/jquery/jquery-3.3.1.min.js}"></script>
    <!--    <script type="text/javascript" src="assets/vendor/jsgrid/jsgrid.min.js" th:src="@{/assets/vendor/jsgrid/jsgrid.min.js}"></script>-->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"
            th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
    <script src="assets/vendor/bootstrap-table/bootstrap-table.min.js"
            th:src="@{/assets/vendor/bootstrap-table/bootstrap-table.min.js}"></script>
    <script src="assets/vendor/slimscroll/jquery.slimscroll.js"
            th:src="@{/assets/vendor/slimscroll/jquery.slimscroll.js}"></script>
    <script src="assets/libs/js/main-js.js" th:src="@{/assets/libs/js/main-js.js}"></script>
    <script src="documentation/js/ghost/ghostcontainer.js"
            th:src="@{/documentation/js/ghost/ghostcontainer.js}"></script>
    <script src="assets/vendor/charts/charts-bundle/Chart.bundle.js"
            th:src="@{/assets/vendor/charts/charts-bundle/Chart.bundle.js}"></script>
    <script src="assets/vendor/charts/charts-bundle/chartjs.js"
            th:src="@{/assets/vendor/charts/charts-bundle/chartjs.js}"></script>
    <script src="assets/vendor/bootstrap-table/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js"
            th:src="@{/assets/vendor/bootstrap-table/extensions/auto-refresh/bootstrap-table-auto-refresh.min.js}"></script>
    <!--    <script src="documentation/js/jquery-ui.js" th:src="@{/documentation/js/jquery-ui.js}"></script>-->
</optional>
</html>